* {
  box-sizing: border-box;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: max(90px, 14%) 1fr max(25px, 4%);
  min-height: 100svh;
  font-family: "Poppins";
  --color-icon-darker: #b3adad;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  position: relative;
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2.6rem;
}

#profile-container {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile-button {
  font-size: 20px;
}

#profile-image {
  width: 50px;
  border-radius: 50%;
  display: block;
  /* border: 1px solid #000; */
}

main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.book-control {
  /* height: 80px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.book-control-top {
  display: flex;
  gap: 8px;
}

#control-search {
  width: 500px;
  height: 35px;
  padding: 0 8px;
  border: 1px solid #000;
  font-size: 16px;
  border-radius: 4px;
  &:focus {
    outline: none;
  }
}

#control-add {
  background: none;
  border: 1px solid #000;
  border-radius: 4px;
}

#control-filter {
  border: 1px solid #000;
  border-radius: 4px;
  &:focus {
    outline: none;
  }
  & option:first-child {
    display: none;
  }
}

.book-control-bottom {
  display: flex;
  gap: 16px;
}

.book-control-bottom p > span {
  margin-right: 4px;
}

.book-catalog {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-auto-rows: 260px;
  gap: 16px;
  padding: 0 5vw;
}

.book-card {
  border-radius: 8px;
  background-color: #beaaaa;
  overflow: hidden;
}

.book-image {
  position: relative;
  background-image: url("https://m.media-amazon.com/images/I/61zSRl1PNiL._SY425_.jpg");
  width: 100%;
  height: 29vh; /* Your desired height */
  background-size: cover; /* Cover the entire div */
  background-position: top; /* Center the image */
}

.book-image .book-options {
  display: flex;
  position: absolute;
  background-color: #302d2dc9;
  top: 0;
  right: 0;
  border-bottom-left-radius: 8px;
  opacity: 0;
  transition: opacity 170ms;
  & button {
    cursor: pointer;
  }
}

.book-image .book-status::before {
  content: "";
  width: 30px;
  height: 60px;
  position: absolute;
  top: -19px;
  left: -4px;
  background-color: #ff4500;
  height: 60px;
  transform: rotate(45deg);
}

.book-image .book-status svg {
  position: relative;
  top: -2px;
  width: 30px;
  padding: 2px;
  cursor: pointer;
}

.book-status svg path {
  fill: #c2c2c2;
}

.book-image .book-options button {
  background: none;
  font-size: 20px;
  color: #c2c2c2;
  border: none;
}

.book-card:hover .book-options {
  opacity: revert;
}

.book-image .page-count {
  position: absolute;
  display: flex;
  gap: 2px;
  right: 0;
  align-items: center;
  bottom: 0;
  width: auto;
  padding: 2px 3px 2px 6px;
  border-top-left-radius: 8px;
  color: #c9c8c8;
  background-color: #302d2dc9;
  & img {
    width: 19px;
  }
}

.book-info {
  padding: 4px;
}

.book-info-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.book-info-author {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-book-card {
  background-color: var(--color-icon-darker);
  border-radius: 8px;
  padding: 6px;
}

.add-book-card > div {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  min-height: 100%;
}

.add-book-card svg {
  position: absolute;
  margin: auto;
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 250ms;
  & path {
    fill: var(--color-icon-darker);
  }
  &:hover {
    transform: scale(1.2);
  }
}

footer {
  text-align: center;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

button,
select {
  font-family: inherit;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none;
  background-color: #80808055;
}
