* {
  box-sizing: border-box;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: min(75px, 14%) 1fr min(50px, 4%);
  min-height: 100svh;
  font-family: "Poppins";
  --background-primary: #f2f2f2;
  --background-secondary: #fdfdfd;
  --border-primary: #808080;
  --text-primary: #272424;
  --text-secondary: #000000;
  --color-icon-darker: #b3adad;
  --color-accent: #ff4500;
  --spacing: 16px;
  background-color: var(--background-primary);
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--spacing);
  position: relative;
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  color: var(--text-primary);
  text-align: center;
  font-size: 2.6rem;
}

#profile-container {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile-button {
  font-size: 20px;
  &:hover {
    text-decoration: underline;
  }
}

.profile-button::before {
  display: inline-block;
}

.profile-button:nth-child(1)::before {
  content: "Register";
}
.profile-button:nth-child(2)::before {
  content: "Log in";
}

#profile-image {
  width: 50px;
  border-radius: 50%;
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.book-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--spacing);
  gap: 8px;
}

.book-control-top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

#control-search {
  width: min(500px, 100%);
  height: 35px;
  padding: 0 8px;
  border: 1px solid var(--border-primary);
  background-color: var(--background-secondary);
  font-size: 16px;
  border-radius: 4px;
  &:focus {
    outline: none;
  }
}

#control-add {
  background: none;
  border: 1px solid var(--border-primary);
  background-color: var(--background-secondary);
  border-radius: 4px;
}

#control-filter {
  border: 1px solid var(--border-primary);
  background-color: var(--background-secondary);
  border-radius: 4px;
  &:focus {
    outline: none;
  }
  & option:first-child {
    display: none;
  }
}

.book-control-bottom {
  color: var(--text-primary);
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
  flex-wrap: wrap;
}

.book-control-bottom p > span {
  margin-right: 4px;
}

.book-catalog {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  gap: var(--spacing);
  padding: 0 5vw;
}

.book-card {
  border-radius: 8px;
  background-color: hsl(0, 13%, 71%);
  overflow: hidden;
}

.book-image {
  position: relative;
  background-image: url(img/Picture_icon_WHITE.svg);
  background-color: #a59999;
  width: 100%;
  height: 29vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  user-select: none;
}

.book-image .book-options {
  display: flex;
  position: absolute;
  background-color: #302d2dc9;
  top: 0;
  right: 0;
  border-bottom-left-radius: 8px;
  & button {
    cursor: pointer;
  }
}

.book-catalog > .book-card {
  display: none;
}

.book-catalog[data-filter="all"] > .book-card {
  display: revert;
}

.book-catalog[data-filter="read"] > .book-card:has(.book-status.read) {
  display: revert;
}

.book-catalog[data-filter="unread"] > .book-card:has(.book-status:not(.read)) {
  display: revert;
}

.book-image .book-status::before {
  content: "";
  width: 30px;
  height: 60px;
  position: absolute;
  top: -19px;
  left: -4px;
  background-color: #302d2dc9;
  height: 60px;
  transform: rotate(45deg);
  transition: background-color 200ms;
}

.book-image .book-status.read::before {
  background-color: var(--color-accent);
}

.book-status svg {
  position: relative;
  top: -2px;
  width: 30px;
  padding: 2px;
  cursor: pointer;
}
& path {
  transition: fill 200ms;
  fill: #727171;
}

.book-status.read svg path {
  fill: #fff;
}

.book-image .book-options button {
  background: none;
  font-size: 20px;
  color: #c2c2c2;
  border: none;
}

.book-image .page-count {
  position: absolute;
  display: flex;
  gap: 2px;
  right: 0;
  align-items: center;
  bottom: 0;
  width: auto;
  padding: 2px 3px 2px 6px;
  border-top-left-radius: 8px;
  color: #c9c8c8;
  background-color: #302d2dc9;
  & img {
    width: 19px;
  }
}

.book-info {
  padding: 4px;
  color: var(--text-secondary);
}

.book-info-title {
  font-size: 14px;
  font-weight: 600;
  min-height: 34px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.book-info-author {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-book-card {
  background-color: var(--color-icon-darker);
  border-radius: 8px;
  padding: 6px;
}

.add-book-card > div {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  min-height: 100%;
}

.add-book-card svg {
  position: absolute;
  margin: auto;
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  & path {
    fill: var(--color-icon-darker);
  }
}

footer {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 600;
  color: var(--text-secondary);
}

dialog.modal {
  border: 1px solid var(--border-primary);
  background-color: var(--background-primary);
  border-radius: 8px;
  &:focus-visible {
    outline: none;
  }
}

/* Disable element highlight */
.status-input,
button {
  user-select: none;
}

dialog.modal:is(#edit-book, #add-book) {
  & div:not(.status-input) > label {
    display: block;
    font-weight: 600;
  }

  & textarea {
    font-size: 16px;
    font-family: inherit;
    resize: block;
    padding: 4px 6px;
    border-radius: 4px;
    width: 300px;
    min-height: 35px;
    border: 1px solid var(--border-primary);
    background-color: var(--background-secondary);
    &:focus {
      outline: none;
    }
  }

  & input:not([type="radio"]) {
    height: 35px;
    border: 1px solid var(--border-primary);
    background-color: var(--background-secondary);
    border-radius: 4px;
    font-size: 16px;
    padding: 0 6px;
    &:focus {
      outline: none;
    }
  }

  & :is(input[type="text"], input[type="url"]) {
    width: 300px;
    margin-bottom: 12px;
  }

  & input[type="number"] {
    width: 80px;
  }

  & input[type="radio"] {
    accent-color: var(--color-accent);
    &:nth-of-type(2) {
      margin-left: 16px;
    }
  }
}

dialog.modal:is(#edit-book, #add-book)::before {
  content: url(img/bookmark.svg);
  position: absolute;
  top: -8px;
  right: 28px;
  width: 60px;
  height: 60px;
}

.status-container {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.status-input {
  align-self: flex-end;
}

.modal-button-container {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

dialog.modal button {
  background-color: #7e7c7c;
  /* border: 1px solid #000; */
  padding: 2px 8px;
  border: none;
  border-radius: 6px;
  color: #fff;
  &#btn-remove {
    background-color: var(--color-accent);
  }
  &:hover {
    filter: opacity(85%);
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog.modal#remove-book {
  width: 250px;
  text-align: center;
  & > :nth-child(1) {
    margin-bottom: 16px;
    font-weight: 600;
  }
}

dialog.modal#remove-book .modal-button-container {
  justify-content: center;
}

h1,
h2 {
  margin: 0;
}

dialog h2 {
  margin-bottom: 8px;
  line-height: 1;
}

dialog h2 {
  text-align: center;
}

p {
  margin: 0;
}

button:focus-visible {
  outline: none;
}

button,
select {
  font-family: inherit;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none;
  background-color: #80808055;
}

.book-catalog > .book-card.hide {
  display: none;
}

/* Hover styles for desktop */
@media (hover: hover) and (pointer: fine) {
  .book-image .book-options {
    opacity: 0;
    transition: opacity 170ms;
  }

  .book-card:hover .book-options {
    opacity: revert;
  }

  .add-book-card svg {
    transition: transform 250ms;
    &:hover {
      transform: scale(1.2);
    }
  }
}

/* Mobile support */
@media (max-width: 750px) {
  body {
    --spacing: 8px;
  }

  .title {
    left: 16px;
    right: auto;
    font-size: clamp(2rem, 1.4231rem + 2.5641vw, 2.625rem);
  }

  .profile-button {
  }

  .profile-button::before {
    width: 30px;
    transform: translateY(4px);
  }
  .profile-button:nth-child(1)::before {
    content: url(img/account-plus.svg);
  }
  .profile-button:nth-child(2)::before {
    content: url(img/login.svg);
  }

  main {
    gap: 8px;
    margin-bottom: 16px;
  }

  .book-control {
    gap: 16px;
  }

  .book-control-top {
    justify-content: flex-start;
  }

  #control-search {
    width: 100%;
  }
  .book-control-bottom {
    justify-content: space-evenly;
  }

  .book-control-bottom p {
    display: flex;
    gap: 4px;
    flex-direction: column-reverse;
    align-items: center;
    font-style: italic;
    font-weight: 600;
    line-height: 1;
  }

  .book-control-bottom p span {
    font-size: 24px;
    color: var(--color-accent);
  }

  .book-catalog {
    padding: var(--spacing);
  }
}
